@model Sehmus.EntitiesLayer.Concrete.ContactPost
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                     Mesaj Gönderin
                                    </h5>
                                </div>
                                <div>
                                    <form asp-action="Contact" method="post">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Adınız" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input asp-for="@Model.Mail" type="email" class="form-control" placeholder="E-Posta" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input asp-for="@Model.Subject" type="text" class="form-control" placeholder="Konu" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea asp-for="@Model.Message" class="form-control" rows="5" placeholder="Mesajınız" required></textarea>
                                                </div>
                                            </div>
                                          @if (ViewBag.SuccessMessage != null)
{
    <div id="messageContainer">@ViewBag.SuccessMessage</div>
}
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="button button-a button-big button-rouded">Mesaj Gönder</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            @await Component.InvokeAsync("Contact")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->
